<?xml version="1.0" encoding="UTF-8"?>

<web-app 
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">
  
  <!-- Servlets -->
	<servlet>
    	<servlet-name>Index</servlet-name>
    	<servlet-class>servlets.IndexServlet</servlet-class>
    	<init-param>
        	<param-name>Author</param-name> 
        	<param-value>Youssef</param-value> 
    	</init-param>
    	<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
    	<servlet-name>Add</servlet-name>
    	<servlet-class>servlets.AddServlet</servlet-class>
    	<init-param>
        	<param-name>Author</param-name> 
        	<param-value>Youssef</param-value> 
    	</init-param>
    	<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
    	<servlet-name>Delete</servlet-name>
    	<servlet-class>servlets.DeleteServlet</servlet-class>
    	<init-param>
        	<param-name>Author</param-name> 
        	<param-value>Youssef</param-value> 
    	</init-param>
    	<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
    	<servlet-name>Edit</servlet-name>
    	<servlet-class>servlets.EditServlet</servlet-class>
    	<init-param>
        	<param-name>Author</param-name> 
        	<param-value>Youssef</param-value> 
    	</init-param>
    	<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
    	<servlet-name>Logout</servlet-name>
    	<servlet-class>servlets.LogoutServlet</servlet-class>
    	<init-param>
        	<param-name>Author</param-name> 
        	<param-value>Youssef</param-value> 
    	</init-param>
    	<load-on-startup>1</load-on-startup>
	</servlet>
	
	<!-- URL mappings -->
	<servlet-mapping>
    	<servlet-name>Index</servlet-name>
    	<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    	<servlet-name>Add</servlet-name>
    	<url-pattern>/add</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    	<servlet-name>Delete</servlet-name>
    	<url-pattern>/delete/id/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    	<servlet-name>Edit</servlet-name>
    	<url-pattern>/edit/id/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
    	<servlet-name>Logout</servlet-name>
    	<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	
	<!-- Security Constraints -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Add</web-resource-name>
			<url-pattern>/add/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Edit</web-resource-name>
			<url-pattern>/edit/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Delete</web-resource-name>
			<url-pattern>/delete/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	
	<!-- Roles -->
	<security-role>
		<role-name>admin</role-name>
	</security-role>
	
	<!-- Login config -->
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>Admin</realm-name>
	</login-config>
</web-app>